# Systemd template (modify as needed)
# put this file in  /lib/systemd/system/

[Unit]
Description=Throttle cpu up or down depending on temperature
After=default.target

[Service]
Type=simple
ExecStart=nice -n 9 /usr/bin/temp_throttle.sh 60
ExecStop=/usr/bin/pkill temp_throttle.sh

[Install]
WantedBy=default.target
